.card {
  margin: 1em;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
    font-size: 2rem;
    color: darkslategray;
    text-align: center;
}
  
.card-footer {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
  .form-control-username {
    width: 10em;
    margin: 1em;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5em;
    border: none;
    background-color: whitesmoke;
    margin-top: 2em;
  }
  
  .form-control-message {
    display: block;
    width: 10em;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5em;
    border: none;
    background-color: whitesmoke;
  }

.messages {
  background-color: whitesmoke;
  border-radius: 0.5em;
  width: 12.5em;
  height: 15em;
  overflow: auto;
  margin-top: 1em;
}

.cam-div {
  display: flex;
  flex-direction: row;
}

.cam {
  margin: 1em;
}