.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: darkslategray;
}

.profil, .chat, .loupe {
  width: 38px;
  padding: 15px 10px;
}

.profil:hover, .chat:hover, .loupe:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  cursor: pointer;
}
