.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.profil {
  width: 35px;
  padding: 15px 10px;
}

.chat {
  width: 35px;
  padding: 15px 10px;
}

.loupe {
  width: 35px;
  padding: 15px 10px;
}
